body {
    background-color: black;
}

h1 {
    color: goldenrod;
    text-align: center;
}

.introduction {
    color: white;
    text-align: center;
}

main {
    color: white;
    padding: 20px;
}

.projects h2 {
    color: goldenrod;
    text-align: center;
}

.project {
    background-color: #333;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.project h3 {
    color: goldenrod;
    margin-bottom: 10px;
}

.project p {
    color: #ccc;
}